#Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [1]:
def cha(c):
 for i in c:
  if i

SyntaxError: expected ':' (<ipython-input-1-c6878abb7bd0>, line 1)

#2. Write a Python function to find the maximum of three numbers Sample input:34,12,7 Sample output: 34

In [48]:
def num(a,b,c):
   if a>b and a>c:
    print(a,"is the biggest")
   elif b>a and b>c :
    print(b,"is the biggest")
   else:
    print(c,"is the biggest")

In [51]:
x=int(input("enter the value:"))
y=int(input("enter the value:"))
z=int(input("enter the value:"))
(num(x,y,z))

enter the value:6
enter the value:9
enter the value:4
9 is the biggest

3.Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8

In [119]:
def exponent(b,a):
  ex=b**a
  return(ex)

In [120]:
base=int(input("enter the base:"))
exp=int(input("enter the exponent:"))
print(exponent(base,exp))

enter the base:2
enter the exponent:3
8

4.Write a Python function that takes a positive integer and returns the sum ofthe cube of all the positive integers smaller than the specified number.Sample input: 4 Sample output: 36.

In [72]:
def sum(i):
 sum = 0
 for p in range(0,i):
    sum += p**3
 return sum

In [73]:
d=int(input("enter the number"))
print("the cube of",d,"is",sum(d))

enter the number4
the cube of 4 is 36


6. Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

7. Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15

In [158]:
def a(x):
 b=0
 for i in x:
   b=b+i**2
 print(b)

In [159]:
li=[3,4,2,2,4]
a(li)

49

8. Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd

In [87]:
for num in range(0, 16):
  if num%2==0:
   print("the",num,"is a even number")
  else:
   print("the",num,"is a odd number")

the 0 is a even number
the 1 is a odd number
the 2 is a even number
the 3 is a odd number
the 4 is a even number
the 5 is a odd number
the 6 is a even number
the 7 is a odd number
the 8 is a even number
the 9 is a odd number
the 10 is a even number
the 11 is a odd number
the 12 is a even number
the 13 is a odd number
the 14 is a even number
the 15 is a odd number

9. Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5 3

In [44]:
def far(f):
  you= (f-32)*5/9
  return you

In [46]:
y=int(input("enter the Fahrenheit:"))
print("Temperature in Celsius =",far(y))

enter the Fahrenheit:41
Temperature in Celsius = 5.0

10.Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6

In [100]:
def fac(x):
   number=1
   for m in range (1,x+1):
     number*=m
   return(number)

In [102]:
v=int(input("enter the  factorial:"))
print(fac(v))

enter the  factorial:3
6

11.Case Study: Grade Calculator

In [131]:
name=input( "Students name")
assessments=int(input("Number of assessments"))
 for i in range(0,assessments ):

IndentationError: unexpected indent (<ipython-input-131-33a770925aa8>, line 3)

12.Student Record Management System

In [165]:
list1=[]
name=(input("enter the name of new student"))
list1.append(name)
print("ente student information")
a=input("enter the addres:")
m=input("enter the email:")
c=int(input("enter the condacte no:"))
d=int(input("enter the date of brith:"))
b=input("enter thr bload grupe:")
list1.append(a)
list1.append(m)
list1.append(c)
list1.append(d)
list1.append(b)
print(list1)

enter the name of new studentbayis ismail
ente student information
enter the addres:bdkjebdkad
enter the email:ldknakdnk
enter the condacte no:3423452432
enter the date of brith:235323
enter thr bload grupe:gdg
['bayis ismail', 'bdkjebdkad', 'ldknakdnk', 3423452432, 235323, 'gdg']